<h1>New field attribute type</h1>

<%= error_messages_for :field_attribute_type %>

<% form_for(:field_attribute_type, :url => field_attribute_types_path) do |f| %>
  <p>
    Name: <%= f.text_field "name" %>
    Description: <%= f.text_field "description" %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', field_attribute_types_path %>
