<h1>New form</h1>

<%= error_messages_for :form %>

<% form_for(:form, :url => forms_path) do |f| %>
  <p>
    Name <%= f.text_field :name %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forms_path %>
