<h1>Listing fields</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  
<% for field in @fields %>
  <tr>
    <td><%=h field.name %></td>
    <td><%= link_to 'Show', field_path(field) %></td>
    <td><%= link_to 'Edit', edit_field_path(field) %></td>
    <td><%= link_to 'Destroy', field_path(field), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New field', new_field_path %>