<h1>New field</h1>

<%= error_messages_for :field %>

<% form_for(:field, :url => fields_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fields_path %>